.booking form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}

.booking {

    /* margin-top: 80px;
    margin-bottom: 80px; */
    width: 100%;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    /* background-color: #c5cae9; */


}

.booking form input,
textarea {
    width: 60%;
    height: 50px;
    margin-bottom: 10px;
}