.setImage{
    /* margin-top: 40px; */
    margin-bottom: 40px;
    /* height: 1000px; */

height: 400px;
background: url('https://cdn.wallpapersafari.com/86/24/JZwOaN.jpg');
    /* background: url('https://newevolutiondesigns.com/images/freebies/car-facebook-cover-4.jpg'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}






/* 
https://hdwallsource.com/img/2018/1/4k-blue-lamborghini-car-widescreen-wallpaper-background-63081-65105-hd-wallpapers.jpg */